
/sources_of_knowledge/*
/.build/*
/thesis.aux
/thesis.bbl
/thesis.bcf
/thesis.blg
/thesis.idx
/thesis.lof
/thesis.log
/thesis.lol
/thesis.lot
/thesis.out
/thesis.run.xml
/thesis.synctex.gz
/thesis.tdo
/thesis.toc



/thesis.pdf

*.pdf
*.png
*.jpeg
*.jpg

*.synctex*


